.about__us {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;

  @media (max-width: 810px) {
    width: fit-content;
    margin: 0 auto;
    flex-direction: column;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0.5;
    transform: translate(-30%, 30%);
    transition: all 0.9s ease;

    &.move {
      opacity: 1;
      transform: translate(0, 0);
    }

    .title {
      font-size: 70px;

      @media (max-width: 1330px) {
        font-size: 60px;
      }

      @media (max-width: 1010px) {
        font-size: 50px;
      }

      @media (max-width: 810px) {
        font-size: 40px;
      }

      @media (max-width: 620px) {
        font-size: 30px;
        margin-left: 16px;
      }
    }

    .big__card {
      width: 638px;
      height: 370px;
      background-color: #f6f6f6;
      border-radius: 36px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

      @media (max-width: 1330px) {
        width: 520px;
        height: 320px;
      }

      @media (max-width: 1010px) {
        width: 420px;
        height: 266px;
      }

      @media (max-width: 810px) {
        width: 600px;
        height: 240px;
      }

      @media (max-width: 620px) {
        width: 90%;
        margin: 0 auto;
      }

      @media (max-width: 490px) {
        height: 220px;
      }

      @media (max-width: 410px) {
        height: 200px;
      }

      .card__title {
        font-size: 23px;
        font-style: italic;
        font-weight: 500;

        @media (max-width: 1330px) {
          font-size: 20px;
        }

        @media (max-width: 490px) {
          font-size: 18px;
        }
      }

      .paragraph {
        font-size: 48px;
        text-transform: uppercase;
        line-height: 1.1;

        @media (max-width: 1330px) {
          font-size: 38px;
        }

        @media (max-width: 1010px) {
          font-size: 30px;
        }

        @media (max-width: 810px) {
          font-size: 28px;
        }

        @media (max-width: 490px) {
          font-size: 24px;
        }

        @media (max-width: 410px) {
          font-size: 20px;
        }

        &__gold {
          color: #e39b13;
        }
      }
    }
  }

  .office__slider {
    width: 638px;
    height: 840px;
    transform: translate(30%, 30%);
    opacity: 0.5;
    transition: all 0.9s ease;

    &.move {
      opacity: 1;
      transform: translate(0, 0);
    }

    @media (max-width: 1330px) {
      width: 464px;
      height: 620px;
    }

    @media (max-width: 1010px) {
      width: 360px;
      height: 480px;
    }

    @media (max-width: 810px) {
      width: 600px;
      height: 800px;
    }

    @media (max-width: 620px) {
      width: 90%;
      height: auto;
      margin: 0 auto;
    }

    .slide {
      width: 100%;
      height: 100%;
    }
  }

  .cards__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 620px) {
      width: 90%;
      margin: 0 auto;
    }
  }

  .card__link__wrapper {
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;

    @media (hover: hover) {
      &:hover {
        transform: translateY(-5px);
        opacity: 0.5;
      }
    }
  }

  .card__link {
    width: 312px;
    height: 268px;
    background-color: #f6f6f6;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: all 0.9s ease;

    &.step__right {
      opacity: 0.5;
      transform: translate(30%, 0);
    }

    &.step__left {
      opacity: 0.5;
      transform: translate(-30%, 0);
    }

    &.move {
      opacity: 1;
      transform: translate(0, 0);
    }

    @media (max-width: 1330px) {
      width: 250px;
      height: 238px;
    }

    @media (max-width: 1010px) {
      width: 200px;
      height: 190px;
      padding: 18px;
    }

    @media (max-width: 810px) {
      width: 286px;
      height: 220px;
      padding: 26px;
    }

    @media (max-width: 620px) {
      width: 46%;
    }

    @media (max-width: 590px) {
      height: 200px;
      padding: 18px;
    }

    @media (max-width: 490px) {
      height: 180px;
    }

    @media (max-width: 460px) {
      height: 170px;
    }

    @media (max-width: 430px) {
      height: 160px;
      border-radius: 28px;
    }

    @media (max-width: 400px) {
      height: 150px;
    }

    .arrow__wrapper {
      display: flex;
      justify-content: flex-end;

      .arrow {
        width: 85px;
        height: 85px;

        @media (max-width: 1330px) {
          width: 64px;
          height: 64px;
        }

        @media (max-width: 1010px) {
          width: 54px;
          height: 54px;
        }

        @media (max-width: 490px) {
          width: 48px;
          height: 48px;
        }

        @media (max-width: 430px) {
          width: 42px;
          height: 42px;
        }
      }
    }

    .paragraph__wrapper {
      .paragraph {
        text-transform: uppercase;
        font-size: 23px;

        @media (max-width: 1330px) {
          font-size: 18px;
        }

        @media (max-width: 1010px) {
          font-size: 15px;
        }

        @media (max-width: 810px) {
          font-size: 18px;
        }

        @media (max-width: 590px) {
          font-size: 16px;
        }

        @media (max-width: 490px) {
          font-size: 15px;
        }

        @media (max-width: 460px) {
          font-size: 14px;
        }
      }
    }
  }
}
