.about__us {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;

  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .title {
      font-size: 70px;
    }

    .big__card {
      width: 638px;
      height: 370px;
      background-color: #f6f6f6;
      border-radius: 36px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

      .title {
        font-size: 23px;
        font-style: italic;
        font-weight: 500;
      }

      .paragraph {
        font-size: 48px;
        text-transform: uppercase;
        line-height: 1.1;

        &__gold {
          color: #e39b13;
        }
      }
    }
  }

  .office__slider {
    width: 638px;
    height: 840px;
  }

  .cards__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .card__link {
    width: 312px;
    height: 268px;
    background-color: #f6f6f6;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    .arrow__wrapper {
      display: flex;
      justify-content: flex-end;

      .arrow {
        width: 85px;
        height: 85px;
      }
    }

    .paragraph__wrapper {
      .paragraph {
        text-transform: uppercase;
        font-size: 23px;
      }
    }
  }
}
