.card__wrapper {
  width: 1306px;
  margin: 0 auto;
  margin-top: 60px;

  @media (max-width: 1330px) {
    width: 990px;
  }

  @media (max-width: 1010px) {
    width: 806px;
  }

  @media (max-width: 810px) {
    width: 90%;
  }

  @media (max-width: 460px) {
    margin-top: 40px;
  }

  .title {
    font-size: 60px;
    font-weight: 500;

    @media (max-width: 1330px) {
      font-size: 50px;
    }

    @media (max-width: 1010px) {
      font-size: 40px;
    }

    @media (max-width: 810px) {
      font-size: 36px;
    }

    @media (max-width: 660px) {
      font-size: 30px;
    }

    @media (max-width: 520px) {
      font-size: 26px;
    }

    @media (max-width: 460px) {
      font-size: 24px;
    }

    @media (max-width: 420px) {
      font-size: 20px;
    }
  }
}

.service__card {
  padding: 40px;
  background-color: #f6f6f6;
  border-radius: 0 62px 0 62px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.9s ease;

  &.left {
    opacity: 0.5;
    transform: translateX(-30%);
  }

  &.right {
    opacity: 0.5;
    transform: translateX(30%);
  }

  &.move {
    opacity: 1;
    transform: translateX(0);
  }

  @media (max-width: 810px) {
    padding: 30px;
  }

  &.split {
    margin-top: 40px;

    @media (max-width: 460px) {
      margin-top: 30px;
    }
  }

  .items {
    margin-left: 20px;
  }

  .text,
  .item {
    font-size: 24px;

    @media (max-width: 810px) {
      font-size: 20px;
    }

    @media (max-width: 660px) {
      font-size: 18px;
    }

    @media (max-width: 460px) {
      font-size: 16px;
    }
  }
}
