.our__services {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  margin-top: 70px;

  .title {
    font-size: 70px;

    @media (max-width: 1330px) {
      font-size: 60px;
    }
  }

  .cards__wrapper {
    display: flex;
    gap: 30px;

    .big__card {
      width: 638px;
      height: 310px;
      background-color: #f6f6f6;
      border-radius: 36px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      padding: 30px;
      display: flex;
      justify-content: space-between;

      @media (max-width: 1330px) {
        width: 480px;
        height: 270px;
        position: relative;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .info__list {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-left: 30px;
          font-size: 18px;

          @media (max-width: 1330px) {
            gap: 5px;
          }
        }
      }

      .title__stand,
      .title__implant {
        font-size: 48px;
        font-weight: 300;

        @media (max-width: 1330px) {
          font-size: 38px;
        }
      }

      // .title__implant {
      //   @media (max-width: 1330px) {
      //     position: absolute;
      //   }
      // }

      .stand {
        width: 267px;
        height: 267px;

        @media (max-width: 1330px) {
          width: 207px;
          height: 207px;
        }
      }

      .implant {
        width: 190px;
        height: 190px;

        @media (max-width: 1330px) {
          position: absolute;
          right: 12px;
          bottom: 8px;
        }
      }
    }
  }

  .card__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    .cards__array__wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .card {
    width: 303px;
    height: 250px;
    background-color: #f6f6f6;
    border-radius: 36px;
    padding: 30px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    @media (max-width: 1330px) {
      width: 220px;
      height: 200px;
      padding: 18px;
    }

    .info {
      position: absolute;
      z-index: 1;

      .title {
        font-size: 23px;

        @media (max-width: 1330px) {
          font-size: 21px;
        }
      }
    }

    .icon__wrapper {
      position: absolute;
      right: 10px;
      bottom: 10px;

      @media (max-width: 1330px) {
        width: 60%;
        height: 60%;
      }

      img {
        @media (max-width: 1330px) {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
