.our__services {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  margin-top: 70px;

  @media (max-width: 620px) {
    width: 90%;
  }

  @media (max-width: 460px) {
    gap: 16px;
  }

  .title {
    font-size: 70px;

    @media (max-width: 1330px) {
      font-size: 60px;
    }

    @media (max-width: 1010px) {
      font-size: 50px;
    }

    @media (max-width: 810px) {
      font-size: 40px;
    }

    @media (max-width: 620px) {
      font-size: 30px;
    }
  }

  .cards__wrapper {
    display: flex;
    gap: 30px;

    @media (max-width: 810px) {
      flex-direction: column;
    }

    @media (max-width: 460px) {
      gap: 16px;
    }

    .big__card {
      width: 638px;
      height: 310px;
      background-color: #f6f6f6;
      border-radius: 36px;
      padding: 30px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      transition: all 0.3s ease;

      &.left {
        opacity: 0.5;
        transform: translate(-30%, 30%);
      }

      &.right {
        opacity: 0.5;
        transform: translate(30%, 30%);
      }

      &.move {
        opacity: 1;
        transform: translate(0, 0);
      }

      @media (hover: hover) {
        &:hover {
          transform: translateY(-5px);
          opacity: 0.5;
        }
      }

      @media (max-width: 1330px) {
        width: 480px;
        height: 270px;
        position: relative;
      }

      @media (max-width: 1010px) {
        width: 388px;
        height: 220px;
      }

      @media (max-width: 810px) {
        width: 600px;
        height: 260px;
      }

      @media (max-width: 620px) {
        width: 100%;
        height: 220px;
        cursor: default;
      }

      @media (max-width: 460px) {
        height: 200px;
        padding: 26px;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .info__list {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-left: 30px;
          font-size: 18px;

          @media (max-width: 1330px) {
            gap: 5px;
          }

          @media (max-width: 1010px) {
            gap: 2px;
          }

          li {
            @media (max-width: 1010px) {
              font-size: 16px;
            }

            @media (max-width: 810px) {
              font-size: 18px;
            }

            @media (max-width: 620px) {
              font-size: 16px;
            }
          }
        }
      }

      .title__stand,
      .title__implant {
        font-size: 48px;
        font-weight: 300;

        @media (max-width: 1330px) {
          font-size: 38px;
        }

        @media (max-width: 1010px) {
          font-size: 30px;
        }

        @media (max-width: 810px) {
          font-size: 34px;
        }

        @media (max-width: 620px) {
          font-size: 26px;
        }
      }

      .stand__wrapper {
        display: flex;
        align-items: flex-end;
      }

      .stand {
        width: 220px;
        height: 220px;

        @media (max-width: 1330px) {
          width: 190px;
          height: 190px;
        }

        @media (max-width: 1010px) {
          width: 140px;
          height: 140px;
        }

        @media (max-width: 810px) {
          width: 180px;
          height: 180px;
        }

        @media (max-width: 620px) {
          width: 160px;
          height: 160px;
        }

        @media (max-width: 500px) {
          width: 140px;
          height: 140px;
        }

        @media (max-width: 460px) {
          width: 120px;
          height: 120px;
        }
      }

      .implant {
        width: 160px;
        height: 160px;

        @media (max-width: 1330px) {
          width: 150px;
          height: 150px;
          position: absolute;
          right: 12px;
          bottom: 20px;
        }

        @media (max-width: 1010px) {
          width: 130px;
          height: 130px;
          right: 16px;
        }

        @media (max-width: 810px) {
          width: 160px;
          height: 160px;
          right: 26px;
          bottom: 30px;
        }

        @media (max-width: 620px) {
          width: 140px;
          height: 140px;
          bottom: 16px;
        }

        @media (max-width: 500px) {
          width: 130px;
          height: 130px;
        }

        @media (max-width: 460px) {
          width: 110px;
          height: 110px;
          bottom: 20px;
        }
      }
    }
  }

  .card__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media (max-width: 810px) {
      grid-template-columns: none;
    }

    @media (max-width: 460px) {
      gap: 16px;
    }

    .cards__array__wrapper {
      display: flex;
      justify-content: space-between;
    }
  }

  .card {
    width: 303px;
    height: 250px;
    background-color: #f6f6f6;
    border-radius: 36px;
    padding: 30px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;

    &.left {
      opacity: 0.5;
      transform: translate(-30%, 30%);
    }

    &.right {
      opacity: 0.5;
      transform: translate(30%, 30%);
    }

    &.move {
      opacity: 1;
      transform: translate(0, 0);
    }

    @media (hover: hover) {
      &:hover {
        transform: translateY(-5px);
        opacity: 0.5;
      }
    }

    @media (max-width: 1330px) {
      width: 220px;
      height: 200px;
      padding: 18px;
    }

    @media (max-width: 1010px) {
      width: 178px;
      height: 160px;
    }

    @media (max-width: 810px) {
      width: 280px;
      height: 240px;
      padding: 30px;
    }

    @media (max-width: 620px) {
      width: 46%;
      height: 220px;
      cursor: default;
    }

    @media (max-width: 550px) {
      height: 190px;
      padding: 20px;
    }

    @media (max-width: 460px) {
      width: 47%;
      height: 170px;
    }

    @media (max-width: 400px) {
      height: 160px;
    }

    .info {
      position: absolute;
      z-index: 1;

      .title {
        font-size: 23px;

        @media (max-width: 1330px) {
          font-size: 21px;
        }

        @media (max-width: 1010px) {
          font-size: 18px;
        }

        @media (max-width: 810px) {
          font-size: 21px;
        }

        @media (max-width: 620px) {
          font-size: 20px;
        }

        @media (max-width: 460px) {
          font-size: 18px;
        }

        &.little {
          @media (max-width: 420px) {
            font-size: 16px;
          }
        }
      }
    }

    .icon__wrapper {
      position: absolute;
      right: 10px;
      bottom: 10px;

      @media (max-width: 1330px) {
        width: 56%;
        height: 56%;
      }

      @media (max-width: 1010px) {
        width: 52%;
        height: 52%;
      }

      .allOnFor {
        width: 164px;
        height: 140px;

        @media (max-width: 1330px) {
          width: 100%;
          height: 90%;
        }
      }

      img {
        @media (max-width: 1330px) {
          width: 100%;
          height: 100%;
        }
      }
    }

    .orthodontics {
      @media (max-width: 500px) {
        width: 70%;
        height: 70%;
        right: 20px;
        bottom: -10px;
      }
    }
  }
}
