.our__services {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
  margin-top: 70px;

  .title {
    font-size: 70px;
  }

  .cards__wrapper {
    display: flex;
    gap: 30px;

    .big__card {
      width: 638px;
      height: 310px;
      background-color: #f6f6f6;
      border-radius: 36px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      padding: 30px;
      display: flex;
      justify-content: space-between;

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .info__list {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin-left: 30px;
          font-size: 18px;
        }
      }

      .title {
        font-size: 48px;
        font-weight: 300;
      }

      .stand {
        width: 267px;
        height: 267px;
      }

      .implant {
        width: 224px;
        height: 224px;
      }
    }
  }

  .card__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); // 4 колонки равной ширины
    gap: 20px;
  }

  .card {
    width: 286px;
    height: 250px;
    background-color: #f6f6f6;
    border-radius: 36px;
    padding: 30px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    .info {
      position: absolute;
      z-index: 1;

      .title {
        font-size: 23px;
      }
    }

    .icon__wrapper {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}
