.make__an__appointment {
  width: fit-content;
  display: flex;
  gap: 150px;
  margin: 0 auto;
  margin-top: 80px;

  @media (max-width: 1330px) {
    gap: 60px;
  }

  @media (max-width: 1010px) {
    gap: 40px;
  }

  @media (max-width: 810px) {
    flex-direction: column-reverse;
  }

  @media (max-width: 620px) {
    width: 100%;
    align-items: center;
  }

  .form {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 36px;

    @media (max-width: 1330px) {
      gap: 28px;
    }

    @media (max-width: 1010px) {
      gap: 22px;
    }

    @media (max-width: 810px) {
      margin: 0 auto;
    }

    @media (max-width: 620px) {
      width: 90%;
    }

    .title {
      font-size: 62px;
      text-align: center;

      @media (max-width: 1330px) {
        font-size: 50px;
      }

      @media (max-width: 1010px) {
        font-size: 42px;
      }

      @media (max-width: 620px) {
        font-size: 32px;
      }
    }

    .sub__title {
      font-size: 40px;
      font-weight: 500;
      font-style: italic;
      text-align: center;

      @media (max-width: 1330px) {
        font-size: 30px;
      }

      @media (max-width: 1010px) {
        font-size: 26px;
      }

      @media (max-width: 620px) {
        font-size: 22px;
      }
    }

    .phone__number__input {
      display: flex;
      flex-direction: column;
    }

    .form__input {
      width: 530px;
      height: 90px;
      outline: 0;
      border: 2px solid #c9c9c9;
      border-radius: 36px;
      font-size: 22px;
      padding: 0 20px;

      @media (max-width: 1330px) {
        width: 420px;
        height: 70px;
        border-radius: 30px;
        font-size: 20px;
      }

      @media (max-width: 1010px) {
        width: 340px;
        height: 60px;
        border-radius: 22px;
        font-size: 18px;
      }

      @media (max-width: 810px) {
        width: 530px;
        height: 76px;
        border-radius: 30px;
        font-size: 20px;
      }

      @media (max-width: 620px) {
        width: 100%;
        height: 66px;
        border-radius: 26px;
        font-size: 18px;
      }

      @media (max-width: 460px) {
        height: 60px;
      }
    }

    .error {
      position: relative;
      font-size: 20px;
      color: red;
      left: 20px;
    }

    .button {
      width: 265px;
      height: 90px;
      border-radius: 36px;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease;

      @media (hover: hover) {
        &:hover {
          transform: translateY(-5px);
          opacity: 0.5;
        }
      }

      @media (max-width: 1330px) {
        width: 240px;
        height: 70px;
        border-radius: 28px;
      }

      @media (max-width: 620px) {
        width: 200px;
        height: 60px;
        border-radius: 22px;
        cursor: default;
      }

      &:active {
        transform: translateY(-5px);
        opacity: 0.5;
      }

      span {
        color: #e8b120;
        font-size: 20px;

        @media (max-width: 620px) {
          font-size: 18px;
        }
      }
    }
  }
}
