.main__card {
  width: 1306px;
  height: 300px;
  background: linear-gradient(to right, #f6f6f6, #909090);
  margin: 0 auto;
  margin-top: 132px;
  border-radius: 36px;
  display: flex;

  .left__section {
    width: 50%;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 60px;

    .service__name {
      color: black;
      font-size: 48px;
    }

    .card__button {
      width: 250px;
      height: 50px;
      border-radius: 26px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease;

      @media (hover: hover) {
        &:hover {
          transform: translateY(-5px);
          opacity: 0.5;
        }
      }

      &:active {
        transform: translateY(-5px);
        opacity: 0.5;
      }

      @media (max-width: 620px) {
        cursor: default;
      }

      span {
        font-size: 22px;
        font-style: italic;
      }
    }
  }
}
