.main__card {
  width: 1306px;
  height: 300px;
  background: linear-gradient(to right, #f6f6f6, #909090);
  margin: 0 auto;
  margin-top: 132px;
  border-radius: 36px;
  display: flex;

  @media (max-width: 1330px) {
    width: 990px;
  }

  @media (max-width: 1010px) {
    width: 806px;
  }

  @media (max-width: 810px) {
    width: 90%;
    height: 260px;
  }

  @media (max-width: 660px) {
    height: 220px;
  }

  @media (max-width: 620px) {
    margin-top: 80px;
  }

  @media (max-width: 460px) {
    height: 200px;
  }

  .left__section {
    width: 50%;
    padding: 40px 80px;
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media (max-width: 660px) {
      padding: 30px 36px;
    }

    .service__name {
      color: black;
      font-size: 48px;

      @media (max-width: 1330px) {
        font-size: 40px;
      }

      @media (max-width: 1010px) {
        font-size: 36px;
      }

      @media (max-width: 810px) {
        font-size: 30px;
      }

      @media (max-width: 660px) {
        font-size: 28px;
      }

      @media (max-width: 520px) {
        font-size: 22px;
      }

      @media (max-width: 460px) {
        font-size: 20px;
      }
    }

    .card__button__wrapper {
      text-decoration: none;
      color: #000;
    }

    .card__button {
      width: 250px;
      height: 50px;
      border-radius: 26px;
      background-color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease;

      @media (hover: hover) {
        &:hover {
          transform: translateY(-5px);
          opacity: 0.5;
        }
      }

      &:active {
        transform: translateY(-5px);
        opacity: 0.5;
      }

      @media (max-width: 1010px) {
        width: 230px;
        height: 42px;
      }

      @media (max-width: 660px) {
        width: 210px;
        height: 40px;
      }

      @media (max-width: 620px) {
        cursor: default;
      }

      @media (max-width: 520px) {
        width: 180px;
        height: 38px;
      }

      @media (max-width: 460px) {
        width: 170px;
        height: 36px;
      }

      span {
        font-size: 22px;
        font-style: italic;

        @media (max-width: 1010px) {
          font-size: 20px;
        }

        @media (max-width: 660px) {
          font-size: 18px;
        }

        @media (max-width: 520px) {
          font-size: 16px;
        }

        @media (max-width: 460px) {
          font-size: 15px;
        }
      }
    }
  }
}
