.footer__line {
  width: 96%;
  height: 36px;
  padding: 0 20px;
  background-color: #000000;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  // gap: 40px;
  margin: 0 auto;
  margin-top: 80px;

  @media (max-width: 500px) {
    height: 30px;
  }

  .line {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 40px;
    animation: moveLine 20s ease-in-out infinite;
  }

  .star__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;

    span {
      color: #e39b13;
      font-size: 14px;

      @media (max-width: 500px) {
        font-size: 12px;
      }
    }

    .star {
      @media (max-width: 500px) {
        width: 8px;
      }
    }
  }
}

@keyframes moveLine {
  0%,
  100% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(0);
  }
}
