.main__slider {
  width: 1290px;
  height: 560px;
  background-color: var(--main-color);
  border-radius: 36px;
  margin: 32px auto;
  margin-top: 132px;
  animation: 0.5s 0s linear animator;

  @media (max-width: 1330px) {
    width: 1000px;
    height: 510px;
  }

  @media (max-width: 1010px) {
    width: 800px;
    height: 410px;
    margin-top: 112px;
  }

  @media (max-width: 810px) {
    width: 600px;
    height: 320px;
  }

  @media (max-width: 620px) {
    width: 100%;
    border-radius: 0;
    margin-top: 80px;
  }

  @media (max-width: 500px) {
    height: 290px;
  }

  @media (max-width: 470px) {
    height: 270px;
  }

  @media (max-width: 420px) {
    height: 250px;
  }

  @media (max-width: 400px) {
    height: 260px;
  }

  @media (max-width: 380px) {
    height: 250px;
  }

  .slider__header {
    width: 60%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;

    // @media (max-width: 1010px) {
    //   font-size: 50px;
    //   padding: 18px 0;
    // }

    @media (max-width: 620px) {
      width: 340px;
      padding-top: 20px;
      padding-bottom: 10px;
    }

    h4 {
      font-size: 40px;
      font-weight: 500;
      line-height: 0.9;

      @media (max-width: 1010px) {
        font-size: 36px;
      }

      @media (max-width: 810px) {
        font-size: 28px;
      }

      @media (max-width: 500px) {
        font-size: 24px;
      }

      // @media (max-width: 810px) {
      //   font-size: px;
      // }

      // @media (max-width: 620px) {
      //   font-size: 30px;
      // }

      // @media (max-width: 470px) {
      //   font-size: 26px;
      // }
    }
  }

  .slider__content {
    width: 1130px;
    height: 380px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    @media (max-width: 1300px) {
      width: 880px;
      height: 360px;
    }

    @media (max-width: 1010px) {
      width: 680px;
      height: 270px;
    }

    @media (max-width: 810px) {
      width: 540px;
      height: 220px;
    }

    @media (max-width: 620px) {
      width: 94%;
      height: 68%;
    }

    .arrow__button {
      width: 40px;
      height: 40px;
      background-color: var(--main-color);
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      z-index: 1;

      @media (max-width: 620px) {
        display: none;
      }
    }

    .left__arrow {
      left: 20px;

      @media (max-width: 810px) {
        left: 10px;
      }

      img {
        transform: rotate(180deg);
      }
    }

    .right__arrow {
      right: 20px;

      @media (max-width: 810px) {
        right: 10px;
      }
    }

    ul {
      list-style-type: none;
      display: flex;
      transition: all 0.3s ease;

      .slide {
        width: 1130px;
        height: 410px;
        flex-shrink: 0;

        @media (max-width: 1300px) {
          width: 880px;
          height: 360px;
        }

        @media (max-width: 1010px) {
          width: 680px;
          height: 270px;
        }

        @media (max-width: 810px) {
          width: 540px;
          height: 220px;
        }

        @media (max-width: 620px) {
          width: 100%;
          height: 100%;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@keyframes animator {
  from {
    transform: translateY(5px);
    opacity: 0.5;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
