.navbar {
  width: 100%;
  height: 100px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 36px 36px;

  .logo__wrapper {
    margin-left: 30px;
    margin-top: 14px;
    cursor: pointer;
  }

  .buttons__wrapper {
    ul {
      list-style-type: none;
      display: flex;
      gap: 10px;

      .nav__button {
        // min-width: 100px;
        height: 48px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eebe34;
        border-radius: 20px;
        font-size: 20px;
        cursor: pointer;
        opacity: 1;
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-5px);
          opacity: 0.7;
        }
      }

      .main__button {
        border: 2px solid #eebe34;
      }
    }
  }

  .recording__button {
    width: 218px;
    height: 48px;
    background-color: #000000;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 36px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      opacity: 0.7;
    }

    span {
      color: #fff;
      font-size: 20px;
      font-style: italic;
    }
  }
}
