.navbar {
  width: 100%;
  height: 100px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 36px 36px;

  @media (max-width: 1000px) {
    height: 80px;
    border-radius: 0px 0px 28px 28px;
  }

  @media (max-width: 620px) {
    height: 48px;
    border-radius: 0px 0px 18px 18px;
  }

  .logo__wrapper {
    width: 370px;
    height: 80px;
    margin-left: 30px;
    margin-top: 14px;
    cursor: pointer;

    @media (max-width: 1000px) {
      width: 300px;
      height: 60px;
    }

    @media (max-width: 620px) {
      width: 160px;
      height: 36px;
      cursor: default;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .buttons__wrapper {
    width: 946px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1280px) {
      & {
        width: auto;
        height: 100%;
        flex-direction: column;
        padding: 80px 40px;
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        background-color: var(--main-color);
        transform: translateX(-100%);
        transition: transform 0.3s ease;

        &.active {
          transform: translateX(0);
        }
      }
    }
  }

  .nav__buttons__wrapper {
    ul {
      list-style-type: none;
      display: flex;
      gap: 10px;

      @media (max-width: 1280px) {
        & {
          flex-direction: column;
        }
      }

      .nav__button {
        height: 48px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #eebe34;
        border-radius: 20px;
        font-size: 20px;
        cursor: pointer;
        opacity: 1;
        transition: all 0.3s ease;

        &:hover {
          transform: translateY(-5px);
          opacity: 0.7;
        }

        @media (max-width: 1000px) {
          width: 200px;
          height: 46px;
          font-size: 18px;
        }

        @media (max-width: 620px) {
          width: 170px;
          height: 40px;
          font-size: 16px;
          cursor: default;
        }
      }

      .main__button {
        border: 2px solid #eebe34;
      }
    }
  }

  .recording__button {
    width: 218px;
    height: 48px;
    background-color: #000000;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 36px;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      opacity: 0.7;
    }

    @media (max-width: 1280px) {
      margin: 0;
    }

    @media (max-width: 1000px) {
      width: 200px;
      height: 46px;
    }

    @media (max-width: 620px) {
      width: 170px;
      height: 40px;
      cursor: default;
    }

    span {
      color: #fff;
      font-size: 20px;
      font-style: italic;

      @media (max-width: 1000px) {
        font-size: 18px;
      }

      @media (max-width: 620px) {
        font-size: 16px;
      }
    }

    .calendar {
      @media (max-width: 1000px) {
        width: 30px;
      }
    }
  }

  .burger {
    display: none;
    width: 40px;
    height: 26px;
    position: relative;
    cursor: pointer;
    z-index: 10;
    right: 26px;

    @media (max-width: 1280px) {
      display: block;
    }

    @media (max-width: 1000px) {
      width: 36px;
      height: 24px;
    }

    @media (max-width: 620px) {
      width: 26px;
      height: 16px;
      cursor: default;
    }

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 4px;
      border-radius: 2px;
      position: absolute;
      background-color: #000000;
      transition: all 0.3s ease;

      @media (max-width: 1000px) {
        height: 3px;
      }

      @media (max-width: 620px) {
        height: 2px;
      }
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active {
      .center__line {
        scale: 0;
      }

      &::before {
        background-color: var(--main-color);
        transform: rotate(-45deg) translateX(-40%);
      }

      &::after {
        background-color: var(--main-color);
        transform: rotate(45deg) translateX(-40%);
      }
    }

    .center__line {
      width: 100%;
      height: 4.5px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 2px;
      display: block;
      background-color: #000000;
      transition: all 0.3s ease;

      @media (max-width: 1000px) {
        height: 3.5px;
      }

      @media (max-width: 620px) {
        height: 2.5px;
      }
    }
  }

  .global__wrapper {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }
}
