.icon {
  width: 100%;
  height: 100%;
}

.doctors__list {
  width: 1306px;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .title {
    font-size: 70px;
  }

  .doctors__slider {
    display: flex;
    gap: 30px;
    margin: 0 auto;

    .doctor__card {
      padding: 20px;
      border-radius: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .icon__wrapper {
        width: 216px;
        height: 216px;
      }

      .doctor__fio {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
      }

      .info {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .profession,
        .experience {
          font-size: 16px;
          text-align: center;
          color: rgb(119, 119, 119);
        }
      }

      .doctor__button {
        width: 198px;
        height: 48px;
        border: 1px solid black;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        opacity: 1;
        transition: all 0.3s ease;

        span {
          font-size: 16px;
          transition: all 0.3s ease;
        }

        @media (hover: hover) {
          &:hover {
            opacity: 0.5;
            transform: translateY(-5px);

            span {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
