.footer {
  width: 100%;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  margin-top: 60px;
  padding: 60px 0;

  @media (max-width: 1330px) {
    padding: 50px 0;
  }

  @media (max-width: 620px) {
    padding: 40px 0;
  }

  .columns__wrapper {
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;

    @media (max-width: 1330px) {
      width: 990px;
    }

    @media (max-width: 1010px) {
      width: 806px;
    }

    @media (max-width: 810px) {
      width: 600px;
      height: 360px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    @media (max-width: 620px) {
      width: 90%;
      height: 340px;
      grid-template-columns: repeat(2, minmax(50%, 1fr));
    }

    @media (max-width: 500px) {
      row-gap: 16px;
    }
  }

  .column__one {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__logo {
      width: 306px;
      height: 68px;

      @media (max-width: 810px) {
        width: 290px;
        height: 54px;
      }

      @media (max-width: 500px) {
        width: 150px;
        height: 40px;
      }
    }
  }

  .column__two,
  .column__three {
    display: flex;
    justify-content: center;

    .title {
      font-size: 36px;
      font-weight: 500;

      @media (max-width: 500px) {
        font-size: 26px;
      }
    }

    .items {
      display: flex;
      flex-direction: column;
      gap: 6px;
      list-style-type: none;
      font-size: 16px;
      margin-top: 10px;

      .item,
      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .column__four {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .button__wrapper {
      text-decoration: none;
    }

    .button {
      width: 216px;
      height: 66px;
      border-radius: 26px;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease;

      @media (hover: hover) {
        &:hover {
          transform: translateY(-5px);
          opacity: 0.5;
        }
      }

      &:active {
        transform: translateY(-5px);
        opacity: 0.5;
      }

      @media (max-width: 1010px) {
        width: 190px;
        height: 56px;
      }

      @media (max-width: 810px) {
        width: 170px;
        height: 46px;
      }

      @media (max-width: 620px) {
        cursor: default;
      }

      @media (max-width: 500px) {
        width: 150px;
        height: 40px;
      }

      span {
        color: #e8b120;
        font-size: 20px;

        @media (max-width: 1010px) {
          font-size: 18px;
        }

        @media (max-width: 500px) {
          font-size: 16px;
        }
      }
    }

    .phone__link {
      font-weight: 600;

      font-size: 20px;
      text-align: center;
      text-decoration: none;
      color: #000;

      @media (max-width: 620px) {
        cursor: default;
      }
    }

    .email {
      font-weight: 600;
      font-size: 20px;

      @media (max-width: 500px) {
        font-size: 18px;
      }
    }
  }
}
