.footer {
  width: 100%;
  padding: 40px 60px;
  border-radius: 32px 32px 0 0;
  background-color: #f6f6f6;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .column__one {
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer__logo {
      width: 306px;
      height: 68px;
    }
  }

  .column__two,
  .column__three {
    display: flex;
    justify-content: center;

    .title {
      font-size: 36px;
      font-weight: 500;
    }

    .items {
      display: flex;
      flex-direction: column;
      gap: 6px;
      list-style-type: none;
      font-size: 16px;
      margin-top: 10px;

      .item,
      a {
        text-decoration: none;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  .column__four {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .button {
      width: 216px;
      height: 66px;
      border-radius: 26px;
      background-color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s ease;

      @media (hover: hover) {
        &:hover {
          transform: translateY(-5px);
          opacity: 0.5;
        }
      }

      &:active {
        transform: translateY(-5px);
        opacity: 0.5;
      }

      @media (max-width: 620px) {
        cursor: default;
      }

      span {
        color: #e8b120;
        font-size: 20px;
      }
    }

    .phone,
    .email {
      font-weight: 600;
      font-size: 20px;
    }
  }
}
